$primary-color: #3f3f3f;
$primary-light: #c665ff;
$primary-dark: #C8E9A0;
$secondary-color: #4bbbdc;
$secondary-light: #84eeff;
$secondary-accent: #e4fcfe;
$secondary-dark: #008baa;
$color-black: #000;
$color-white: #fff;
$color-grey: #e7e7e7;
$color-grey-dark:#9a9a9a;
$color-grey-light: #e1e2e1;
$font-family:'Roboto',
sans-serif;
$box-shadow: 0 1px 2px rgba(0, 0, 0, .05),
0 0 0 1px rgba(63, 63, 68, .1);
$padding-container-size: 10px;
$error-red: #cc0000;
$success-green: #4BB543;
$color-dark-blue: #3d466e;
$border-radius: 8px;
$form-padding:30px;
$form-margin-top:50px;
$color-pending:#e67e22;
$color-1:#FFEE93;
$color-2:#D7C0D0;
$color-3:#EFF0D1;
$color-4:#77BA99;
$color-5:#8ACDEA;
$color-6:#FCA311;