.footer {
  width: 100%;
  background: $color-white;
  flex: 1;
  text-align: center;
  border-top: 1px solid $color-grey;
  padding-top: 10px !important;
  &__heading {
    padding: 10px;
    margin: 0;
    color: $color-grey-dark;
    display: inline-block;
  }
}
