.csm {

  h3, p {
    margin: 8px 0;
    font-size: 16px;
  }

  &-blur {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 20;
    filter: blur(1000px);
  }
  // The 27px is the aside margin / 50%
  &-modal-form {
    position: fixed;
    z-index: 100;
    background: #FFF;
    border: 3px solid #BFBFBF;
    width: 75%;
    left: calc(27px + 50%);
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-height: 90%;
    max-width: 600px;
    visibility: hidden;

    &__dropdown-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }

    &.large {
      max-width: 842px;
    }

    &.cell-type {
      height: 70%;
    }

    &.max {
      height: -webkit-fill-available;
    }

    &.smol {
      max-width: 300px;
    }

    table.table {
      display: block;
      overflow: auto;
    }

    &__content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 93%;
      justify-content: top;
      background: #ebebeb;
      padding: 10px;
    }

    h2 {
      color: black;
      text-align: center;
      background: #00BADB;
      margin: 0px;
      padding: 10px;
      font-weight: 400;
    }

    &__text-input {
      margin: 10px 0;
      max-width: 400px;
    }


    .pretty-dropdown__container {
      padding: 0;
    }

    .show-study__button {
      margin: 10px;
    }

    &.active {
      visibility: visible;
    }

    .spinner {
      position: absolute;
      top:-300px
    }
  }

  &__form {
    padding: 10px 70px;
    background: #ebebeb;
  }

  &__error-message {
    display: none;
    background: $error-red;
    border-radius: 8px;
    color: $color-white;
    padding: 6px;

    &.active {
      display: block;
    }

  }
  &-modal-form-edit-delete {
    position: fixed;
    z-index: 100;
    width: 75%;
    left: calc(27px + 50%);
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 600px;
    padding: 10px;
    display: none;

    &.full-height {
      justify-content: center;
      
    }

    &__label-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .invalid-feedback {
        color: $error-red;
        &.white {
          color:$color-white;
        }
      }
    }

    &.active {
      display: block;
      display: flex;
      flex-direction: column;
    }

    &__confirm {
      text-align: center;
      border-radius: 8px;
      display: none;

      &.active {
        display: block;
        padding: 10px;
        margin-top: 10px;
        background: #ebebeb;
      }

      .filter__exit-button {
        display: none;
        &.active {
          display: block;
        }
      }

 
    }

    &__content-wrapper {
      @include white-border;
      width: 100%;
      background: #fff;
      padding: 10px;
      border-radius: 8px;
      width: 100%;
      padding-top: 45px;
      margin: 0;
    }

    .filter__exit-button {
      top: 15px;
    }
  }

  &__confirm-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }

  &__create-cell-container {
    background: #fff;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    justify-content: center;
    min-width: 180px;
    text-align: center;
    display: block;
    &.active {
      display: none;
    }
  }

  &__name-container {
    position: relative;


    .csm-tooltip {
      display: none;
      position: absolute;
      width: 300px;
      background: $secondary-color;
      color: $color-white;
      top: -91px;
      z-index: 888888;
      padding: 5px;
      border-radius: 8px;
      &.active {
        display: block;
      }
    }
  }
  
}


.edit-box {
  &__input {
    margin: 20px 0;
  }

  &__container {
    display: none;
    &.active {
      display: block;
    }
  }
}