.links {
  margin: 10px;
  &__item-container {
    display: flex;
    flex-direction: column;
  }

  &__table-headings {
    position: relative;
    overflow: inherit !important;

    .info-tooltip {
      top: 50%;
      transform: translateY(-50%);

      &.top {
        top: 15px;
        right: 5px;
      }
    }
  }
}

.copy-clipboard {

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
}